@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-primary-text: #8F57EF;
  
  --color-foreground: #fafafa;
  --color-foreground-muted: #a1a1aa;
  
  --color-background: #09090b;
  --color-background-muted: #18181a;

  --color-muted: #27272a;
}

.text-primary {
  color: var(--color-primary-text)
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

section:nth-of-type(even) {
  background-color: var(--color-background-muted);
  
}

section .container {
  @media (width >= 80rem /* 1280px */) {
    max-width: var(--container-7xl) /* 80rem = 1280px */;
  }

  margin-inline: auto;
}
