@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  
  --color-foreground: #fafafa;
  --color-foreground-muted: #a1a1aa;
  
  --color-background: #09090b;
  --color-background-muted: #18181a;

  --color-muted: #27272a;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}